/* Custom Styles */
body {
    font-family: 'Outfit', sans-serif;
    cursor: none;
    /* Hide default cursor for custom one */
}

h1,
h2,
h3,
.font-serif {
    font-family: 'Playfair Display', serif;
}

/* Custom Cursor */
.cursor-dot,
.cursor-outline {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 9999;
    pointer-events: none;
}

.cursor-dot {
    width: 8px;
    height: 8px;
    background-color: white;
}

.cursor-outline {
    width: 40px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: width 0.2s, height 0.2s, background-color 0.2s;
}



/* Glassmorphism Card */
.glass-card {
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.05);
    transition: all 0.4s ease;
}

.glass-card:hover {
    background: rgba(255, 255, 255, 0.08);
    transform: translateY(-10px);
    border-color: rgba(168, 85, 247, 0.4);
    /* Purple border on hover */
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

/* Animations */
@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}

.animate-float {
    animation: float 6s ease-in-out infinite;
}

.social-icon-link {
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-icon-link:hover {
    transform: translateY(-5px);
    color: #a855f7;
    /* Purple-500 */
}